<h1>Angular Portfolio Items</h1>
<%= link_to 'New', new_portfolio_path %>
<ul>
  <% @angular_portfolio_items.each do |p| %>
      <li>
        <h3><%= p.title %></h3>
        <span><%= p.subtitle %></span><br>
        <p><%= p.body %></p>
        <%= image_tag p.main_image unless p.main_image.nil? %>
        <%= link_to 'Edit', edit_portfolio_path(p) %>
        <%= link_to 'Show', portfolio_path(p) %>
      </li>
  <% end %>
</ul>