<h1><%= @portfolio.title %></h1>
<span><%= @portfolio.subtitle %></span><br>
<p><%= @portfolio.body %></p>
<%= image_tag @portfolio.main_image unless @portfolio.main_image.nil? %>
<%= link_to 'Back', portfolios_path %>
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %>
<%= link_to 'Delete', @portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>